extends projectlayout

block extrahead
		meta(name="viewport" content="width=device-width")
		
block script
		script.
			$(document).ready(function() {
				$("body").css("opacity", "0.1");
				$("body").delay(200).animate({ opacity: 1 }, 200);
				$("#makeMeScrollable").smoothDivScroll({
					touchScrolling: true,
					manualContinuousScrolling: true,
					mousewheelScrolling: "allDirections",
					
					
				});
			

			});

		

block content

			-	var temp = pageData.files
			- temp = temp.split(",")
			- var num = pageData.page*pageData.pagelen

			.grid_12(style="line-height=0px;")
					a(href="/projects")
						.homeheader #{pageData.title}
						
						.homedesc(style="top:5px;") bridget crowe	[960x640] 
					.homedesc(style="top:20px;font-size:50%")
						a(href="/projects/" + pageData.link + "/")	Page 1 
						|
						if pageData.files.length > pageData.pagelen
							a(href="/projects/" + pageData.link + "/2")   Page 2  
							|
						a(href="")  Images #{temp.length}
			.clear
			
	

			.grid_16
				#makeMeScrollable(style="width:960px;height:640px;margin-top:20px;margin-left:20px;")
					img(src=temp[0+num], alt=temp[0+num])
					each x in [1+pageData.page*pageData.pagelen,2+pageData.page*pageData.pagelen,3+pageData.page*pageData.pagelen,4+pageData.page*pageData.pagelen,5+pageData.page*pageData.pagelen]
						if x < temp.length-1
							img(src=temp[x], alt=temp[x], style="margin-left:60px;") 
						if x == 5+pageData.page*pageData.pagelen
							img(src=temp[x], alt=temp[x], style="margin-left:60px;margin-right:60px;") 
								

						

	